@charset "ISO-8859-1";
.jumbotron
{
margin-bottom: 0px !important;
 background: rgba(204, 204, 204, 0.7);
}
hr {
  border: 0.5px solid black;
}

.body1 { padding-top: 0px;
background-image: url(crime1.jpg);
background-repeat: no-repeat;
background-size: cover; 
opacity: 30%;
 } 
#header
{
	text-align:center;
}
.form-text
{
	color:#ff0000;
}
#CpassHelp {
  font-size: 12px;
  padding: 0.25em;
  color: indianred;
 
  
  /* 2 animations: shake, and glow red */
  animation-name: shake, glow-red;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
}

@keyframes shake {
  0%, 20%, 40%, 60%, 80% {
    transform: translateX(8px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
}

@keyframes glow-red {
  50%,70%,90% {
    color: indianred;
  }
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
 
  color: black;
}
.classic {
  position: relative;
}


/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: black;
  transform: rotateY(180deg);
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #949494;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}